<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="500" subStatusCode="-1" />
        </httpErrors>
        <asp>
            <limits bufferingLimit="994194304" />
        </asp>
        <security>
            <requestFiltering>
                <requestLimits maxUrl="122888" maxQueryString="1228888" />
            </requestFiltering>
        </security>
        <defaultDocument>
            <files>
                <add value="INDEX.ASP" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
