USE [MODELADOR]
GO
/****** Object:  StoredProcedure [dbo].[SP_PLANEA_juan]    Script Date: 20/04/2017 10:12:02 ******/

ALTER PROCEDURE [dbo].[SP_PLANEA_juan]
(	@cli char(5),
	@FEC VARCHAR(10),
	@GTE varchar(200),
	@POO CHAR(20),
	@TEM CHAR(50),
	@OFI CHAR(2000),
	@PRO CHAR(10),
	@EST CHAR(50),
	@tel char (6)
)
as
set nocount on 
SET DATEFORMAT DMY; 

IF LEN(LTRIM(RTRIM(@CLI))) = 0 	SET @CLI = NULL
IF LEN(LTRIM(RTRIM(@FEC))) = 0 	SET @FEC = NULL
IF LEN(LTRIM(RTRIM(@GTE))) = 0 	SET @GTE = NULL
IF LEN(LTRIM(RTRIM(@POO))) = 0 	SET @POO = NULL
IF LEN(LTRIM(RTRIM(@TEM))) = 0 	SET @TEM = NULL
set @OFI = REPLACE(@OFI, '*' , ',')
IF LEN(LTRIM(RTRIM(@OFI))) = 0 	SET @OFI = NULL

IF LEN(LTRIM(RTRIM(@PRO))) = 0 	SET @PRO = NULL
IF LEN(LTRIM(RTRIM(@EST))) = 0 	SET @EST = NULL


CREATE TABLE [dbo].[#TMP1](
	[CLI]		CHAR(5)		   DEFAULT '',
	[NOM]		VARCHAR(100)   DEFAULT '',
	[TEMPO]		VARCHAR(50)	   DEFAULT '',	
	[CODTEM]	VARCHAR(50)	   DEFAULT '',	
	[FABRIC]	VARCHAR(200)   DEFAULT '',
	[PO]		CHAR(20)	   DEFAULT '',
	[ESTCLI]	CHAR(50)	   DEFAULT '',
	[OFI]		CHAR(8)		   DEFAULT '',
	[ajuste]	CHAR(14)	   DEFAULT '',
	[COLOR]		VARCHAR(30)    DEFAULT '',	
	[LLEGAPO]	SMALLDATETIME  DEFAULT GETDATE(),
	[ID]		INT			   DEFAULT 0,
	[CONSUMO]	NUMERIC(12,2)  DEFAULT 0,
	[CANPZA]	INT			   DEFAULT 0,
	[CODIGO]	CHAR(10)	   DEFAULT '',	
	[XS]		NUMERIC(18,2)  DEFAULT 0,
	[S]			NUMERIC(18,2)  DEFAULT 0,
	[M]			NUMERIC(18,2)  DEFAULT 0,
	[L]			NUMERIC(18,2)  DEFAULT 0,
	[XL]		NUMERIC(18,2)  DEFAULT 0,
	[XXL]		NUMERIC(18,2)  DEFAULT 0,
	[3XL]		NUMERIC(18,2)  DEFAULT 0,
	[4XL]		NUMERIC(18,2)  DEFAULT 0,
	[5XL]		NUMERIC(18,2)  DEFAULT 0,
	[6XL]		NUMERIC(18,2)  DEFAULT 0,
	[7XL]		NUMERIC(18,2)  DEFAULT 0,
	[8XL]		NUMERIC(18,2)  DEFAULT 0,
	[TOTAL]		NUMERIC(18,2)  DEFAULT 0,
	[_XS]		NUMERIC(18,2)  DEFAULT 0,
	[_S]		NUMERIC(18,2)  DEFAULT 0,
	[_M]		NUMERIC(18,2)  DEFAULT 0,
	[_L]		NUMERIC(18,2)  DEFAULT 0,
	[_XL]		NUMERIC(18,2)  DEFAULT 0,
	[_XXL]		NUMERIC(18,2)  DEFAULT 0,
	[_3XL]		NUMERIC(18,2)  DEFAULT 0,
	[_4XL]		NUMERIC(18,2)  DEFAULT 0,
	[_5XL]		NUMERIC(18,2)  DEFAULT 0,
	[_6XL]		NUMERIC(18,2)  DEFAULT 0,
	[_7XL]		NUMERIC(18,2)  DEFAULT 0,
	[_8XL]		NUMERIC(18,2)  DEFAULT 0,
	[_TOTAL]	NUMERIC(18,2)  DEFAULT 0,
	[ACOD]		CHAR(10)	   DEFAULT '',
	[ACON]		NUMERIC(18,2)  DEFAULT 0,
	[APZA]		NUMERIC(18,2)  DEFAULT 0,
	[AT1]		NUMERIC(18,2)  DEFAULT 0,
	[AT2]		NUMERIC(18,2)  DEFAULT 0,
	[AT3]		NUMERIC(18,2)  DEFAULT 0,
	[AT4]		NUMERIC(18,2)  DEFAULT 0,
	[AT5]		NUMERIC(18,2)  DEFAULT 0,
	[AT6]		NUMERIC(18,2)  DEFAULT 0,
	[AT7]		NUMERIC(18,2)  DEFAULT 0,
	[AT8]		NUMERIC(18,2)  DEFAULT 0,
	[AT9]		NUMERIC(18,2)  DEFAULT 0,
	[AT10]		NUMERIC(18,2)  DEFAULT 0,
	[AT11]		NUMERIC(18,2)  DEFAULT 0,
	[AT12]		NUMERIC(18,2)  DEFAULT 0,
	[ATOT]		NUMERIC(18,2)  DEFAULT 0,
	[ATOC]		NUMERIC(18,2)  DEFAULT 0,
	[BCOD]		CHAR(10)	   DEFAULT '',
	[BCON]		NUMERIC(18,2)  DEFAULT 0,
	[BPZA]		NUMERIC(18,2)  DEFAULT 0,
	[BT1]		NUMERIC(18,2)  DEFAULT 0,
	[BT2]		NUMERIC(18,2)  DEFAULT 0,
	[BT3]		NUMERIC(18,2)  DEFAULT 0,
	[BT4]		NUMERIC(18,2)  DEFAULT 0,
	[BT5]		NUMERIC(18,2)  DEFAULT 0,
	[BT6]		NUMERIC(18,2)  DEFAULT 0,
	[BT7]		NUMERIC(18,2)  DEFAULT 0,
	[BT8]		NUMERIC(18,2)  DEFAULT 0,
	[BT9]		NUMERIC(18,2)  DEFAULT 0,
	[BT10]		NUMERIC(18,2)  DEFAULT 0,
	[BT11]		NUMERIC(18,2)  DEFAULT 0,
	[BT12]		NUMERIC(18,2)  DEFAULT 0,
	[BTOT]		NUMERIC(18,2)  DEFAULT 0,
	[BTOC]		NUMERIC(18,2)  DEFAULT 0,
	[CCOD]		CHAR(10)	   DEFAULT '',
	[CCON]		NUMERIC(18,2)  DEFAULT 0,
	[CPZA]		NUMERIC(18,2)  DEFAULT 0,
	[CT1]		NUMERIC(18,2)  DEFAULT 0,
	[CT2]		NUMERIC(18,2)  DEFAULT 0,  
	[CT3]		NUMERIC(18,2)  DEFAULT 0,
	[CT4]		NUMERIC(18,2)  DEFAULT 0,
	[CT5]		NUMERIC(18,2)  DEFAULT 0,
	[CT6]		NUMERIC(18,2)  DEFAULT 0,
	[CT7]		NUMERIC(18,2)  DEFAULT 0,
	[CT8]		NUMERIC(18,2)  DEFAULT 0,
	[CT9]		NUMERIC(18,2)  DEFAULT 0,
	[CT10]		NUMERIC(18,2)  DEFAULT 0,
	[CT11]		NUMERIC(18,2)  DEFAULT 0,
	[CT12]		NUMERIC(18,2)  DEFAULT 0,
	[CTOT]		NUMERIC(18,2)  DEFAULT 0,
	[CTOC]		NUMERIC(18,2)  DEFAULT 0,
	[DCOD]		CHAR(10)	   DEFAULT '',
	[DCON]		NUMERIC(18,2)  DEFAULT 0,
	[DPZA]		NUMERIC(18,2)  DEFAULT 0,
	[DT1]		NUMERIC(18,2)  DEFAULT 0,
	[DT2]		NUMERIC(18,2)  DEFAULT 0,
	[DT3]		NUMERIC(18,2)  DEFAULT 0,
	[DT4]		NUMERIC(18,2)  DEFAULT 0,
	[DT5]		NUMERIC(18,2)  DEFAULT 0,
	[DT6]		NUMERIC(18,2)  DEFAULT 0,
	[DT7]		NUMERIC(18,2)  DEFAULT 0,
	[DT8]		NUMERIC(18,2)  DEFAULT 0,
	[DT9]		NUMERIC(18,2)  DEFAULT 0,
	[DT10]		NUMERIC(18,2)  DEFAULT 0,
	[DT11]		NUMERIC(18,2)  DEFAULT 0,
	[DT12]		NUMERIC(18,2)  DEFAULT 0,
	[DTOT]		NUMERIC(18,2)  DEFAULT 0,
	[DTOC]		NUMERIC(18,2)  DEFAULT 0,
	[ECOD]		CHAR(10)	   DEFAULT '',
	[ECON]		NUMERIC(18,2)  DEFAULT 0,
	[EPZA]		NUMERIC(18,2)  DEFAULT 0,
	[ET1]		NUMERIC(18,2)  DEFAULT 0,
	[ET2]		NUMERIC(18,2)  DEFAULT 0,
	[ET3]		NUMERIC(18,2)  DEFAULT 0,
	[ET4]		NUMERIC(18,2)  DEFAULT 0,
	[ET5]		NUMERIC(18,2)  DEFAULT 0,
	[ET6]		NUMERIC(18,2)  DEFAULT 0,
	[ET7]		NUMERIC(18,2)  DEFAULT 0,
	[ET8]		NUMERIC(18,2)  DEFAULT 0,
	[ET9]		NUMERIC(18,2)  DEFAULT 0,
	[ET10]		NUMERIC(18,2)  DEFAULT 0,
	[ET11]		NUMERIC(18,2)  DEFAULT 0,
	[ET12]		NUMERIC(18,2)  DEFAULT 0,
	[ETOT]		NUMERIC(18,2)  DEFAULT 0,
	[ETOC]		NUMERIC(18,2)  DEFAULT 0,
	[FCOD]		CHAR(10)	   DEFAULT '',
	[FCON]		NUMERIC(18,2)  DEFAULT 0,
	[FPZA]		NUMERIC(18,2)  DEFAULT 0,
	[FT1]		NUMERIC(18,2)  DEFAULT 0,
	[FT2]		NUMERIC(18,2)  DEFAULT 0,
	[FT3]		NUMERIC(18,2)  DEFAULT 0,
	[FT4]		NUMERIC(18,2)  DEFAULT 0,
	[FT5]		NUMERIC(18,2)  DEFAULT 0,
	[FT6]		NUMERIC(18,2)  DEFAULT 0,
	[FT7]		NUMERIC(18,2)  DEFAULT 0,
	[FT8]		NUMERIC(18,2)  DEFAULT 0,
	[FT9]		NUMERIC(18,2)  DEFAULT 0,
	[FT10]		NUMERIC(18,2)  DEFAULT 0,
	[FT11]		NUMERIC(18,2)  DEFAULT 0,
	[FT12]		NUMERIC(18,2)  DEFAULT 0,
	[FTOT]		NUMERIC(18,2)  DEFAULT 0,
	[FTOC]		NUMERIC(18,2)  DEFAULT 0,
	[GCOD]		CHAR(10)	   DEFAULT '',
	[GCON]		NUMERIC(18,2)  DEFAULT 0,
	[GPZA]		NUMERIC(18,2)  DEFAULT 0,
	[GT1]		NUMERIC(18,2)  DEFAULT 0,
	[GT2]		NUMERIC(18,2)  DEFAULT 0,
	[GT3]		NUMERIC(18,2)  DEFAULT 0,
	[GT4]		NUMERIC(18,2)  DEFAULT 0,
	[GT5]		NUMERIC(18,2)  DEFAULT 0,
	[GT6]		NUMERIC(18,2)  DEFAULT 0,
	[GT7]		NUMERIC(18,2)  DEFAULT 0,
	[GT8]		NUMERIC(18,2)  DEFAULT 0,
	[GT9]		NUMERIC(18,2)  DEFAULT 0,
	[GT10]		NUMERIC(18,2)  DEFAULT 0,
	[GT11]		NUMERIC(18,2)  DEFAULT 0,
	[GT12]		NUMERIC(18,2)  DEFAULT 0,
	[GTOT]		NUMERIC(18,2)  DEFAULT 0,
	[GTOC]		NUMERIC(18,2)  DEFAULT 0,
	[HCOD]		CHAR(10)	   DEFAULT '',
	[HCON]		NUMERIC(18,2)  DEFAULT 0,
	[HPZA]		NUMERIC(18,2)  DEFAULT 0,
	[HT1]		NUMERIC(18,2)  DEFAULT 0,
	[HT2]		NUMERIC(18,2)  DEFAULT 0,
	[HT3]		NUMERIC(18,2)  DEFAULT 0,
	[HT4]		NUMERIC(18,2)  DEFAULT 0,
	[HT5]		NUMERIC(18,2)  DEFAULT 0,
	[HT6]		NUMERIC(18,2)  DEFAULT 0,
	[HT7]		NUMERIC(18,2)  DEFAULT 0,
	[HT8]		NUMERIC(18,2)  DEFAULT 0,
	[HT9]		NUMERIC(18,2)  DEFAULT 0,
	[HT10]		NUMERIC(18,2)  DEFAULT 0,
	[HT11]		NUMERIC(18,2)  DEFAULT 0,
	[HT12]		NUMERIC(18,2)  DEFAULT 0,
	[HTOT]		NUMERIC(18,2)  DEFAULT 0,
	[HTOC]		NUMERIC(18,2)  DEFAULT 0,
	[ICOD]		CHAR(10)	   DEFAULT '',
	[ICON]		NUMERIC(18,2)  DEFAULT 0,
	[IPZA]		NUMERIC(18,2)  DEFAULT 0,
	[IT1]		NUMERIC(18,2)  DEFAULT 0,
	[IT2]		NUMERIC(18,2)  DEFAULT 0,
	[IT3]		NUMERIC(18,2)  DEFAULT 0,
	[IT4]		NUMERIC(18,2)  DEFAULT 0,
	[IT5]		NUMERIC(18,2)  DEFAULT 0,
	[IT6]		NUMERIC(18,2)  DEFAULT 0,
	[IT7]		NUMERIC(18,2)  DEFAULT 0,
	[IT8]		NUMERIC(18,2)  DEFAULT 0,
	[IT9]		NUMERIC(18,2)  DEFAULT 0,
	[IT10]		NUMERIC(18,2)  DEFAULT 0,
	[IT11]		NUMERIC(18,2)  DEFAULT 0,
	[IT12]		NUMERIC(18,2)  DEFAULT 0,
	[ITOT]		NUMERIC(18,2)  DEFAULT 0,
	[ITOC]		NUMERIC(18,2)  DEFAULT 0,
	[JCOD]		CHAR(10)	   DEFAULT '',
	[JCON]		NUMERIC(18,2)  DEFAULT 0,
	[JPZA]		NUMERIC(18,2)  DEFAULT 0,
	[JT1]		NUMERIC(18,2)  DEFAULT 0,
	[JT2]		NUMERIC(18,2)  DEFAULT 0,
	[JT3]		NUMERIC(18,2)  DEFAULT 0,
	[JT4]		NUMERIC(18,2)  DEFAULT 0,
	[JT5]		NUMERIC(18,2)  DEFAULT 0,
	[JT6]		NUMERIC(18,2)  DEFAULT 0,
	[JT7]		NUMERIC(18,2)  DEFAULT 0,
	[JT8]		NUMERIC(18,2)  DEFAULT 0,
	[JT9]		NUMERIC(18,2)  DEFAULT 0,
	[JT10]		NUMERIC(18,2)  DEFAULT 0,
	[JT11]		NUMERIC(18,2)  DEFAULT 0,
	[JT12]		NUMERIC(18,2)  DEFAULT 0,
	[JTOT]		NUMERIC(18,2)  DEFAULT 0,
	[JTOC]		NUMERIC(18,2)  DEFAULT 0
) ON [PRIMARY]






IF @OFI IS NULL 
	BEGIN
		print 'entro al if'
		INSERT INTO #TMP1 (CLI,NOM,TEMPO,CODTEM, FABRIC,PO,ESTCLI ,OFI,ajuste,COLOR,  LLEGAPO, [ID], CONSUMO, CANPZA, [CODIGO],
		[XS], [S], [M] , [L], [XL], [XXL], [3XL],[4XL],[5XL], [6XL],[7XL],[8XL], TOTAL, 
		[_XS], [_S],[_M], [_L], [_XL], [_XXL], [_3XL],[_4XL], [_5XL], [_6XL], [_7XL], [_8XL],[_TOTAL]) 
		SELECT CLI,NOM,TEMPO,CODTEM, FABRIC,PO,ESTCLI ,OFI,ajuste2,COLOR,  LLEGAPO, [ID], PESO, CANPZA, [CODIGO],
		[XS], [S], [M] , [L], [XL], [XXL], [3XL],[4XL],[5XL], [6XL],[7XL],[8XL], TOTAL, 
		[_XS], [_S],[_M], [_L], [_XL], [_XXL], [_3XL],[_4XL], [_5XL], [_6XL], [_7XL], [_8XL],
		([_XS]+ [_S]+[_M]+[_L]+[_XL]+ [_XXL]+[_3XL]+[_4XL]+[_5XL]+[_6XL]+ [_7XL]+ [_8XL]) 
		FROM VIEW_PEDIDO_TELA_DETA 
		where  estado = 'A'
		and ((@CLI is null) or (CLI  	= LTRIM(RTRIM(@CLI)) ))
		and ((@fec is null) or (CONVERT(SMALLDATETIME, LLEGAPO, 103)  = CONVERT(SMALLDATETIME,@fec,103)))
		and ((@gte is null) or (REPLACE(faBRIC, ' ' , '')	like  '%'+ @gte+'%'))
		and ((@OFI is null) or (REPLACE(OFI, ' ' , '')		like  '%'+LTRIM(RTRIM(@OFI)) ))
		and ((@poo is null) or (REPLACE(po, ' ' , '')		like  LTRIM(RTRIM(@poo))+'%'))
		and ((@tem is null) or (REPLACE(CODTEM,  ' ' , '')	=     LTRIM(RTRIM(@TEM)) ))
		and ((@PRO is null) or (ajuste	like  '%'+LTRIM(RTRIM(@PRO))+'%'))
		and ((@EST is null) or (REPLACE(ESTCLI, ' ' , '')	=  LTRIM(RTRIM(@EST)) ))
		and ((@TEL is null) or (REPLACE(codigo, ' ' , '')	=  LTRIM(RTRIM(@tel)) ))
		ORDER BY REPLACE(PO, ' ' , ''), REPLACE(COLOR, ' ', ''), ID


	END
ELSE
	BEGIN
	
print @ofi

create table #ofi (
[ofi] char(10))

DECLARE @RESULTADO AS INT
DECLARE @DOCUMENT AS CHAR(2000)
DECLARE @DOC AS CHAR(2000)
DECLARE @N AS INT

SET @N = 0
SET @DOCUMENT = @OFI
SET @DOC = @DOCUMENT
--PRINT @DOC
WHILE  LTRIM(RTRIM(@DOC)) <> ''
BEGIN   
	SET @DOC = SUBSTRING( @DOCUMENT, @N+1, 8)
	SET @RESULTADO = PATINDEX('%,%',@DOCUMENT) + @N
    SELECT @N = @RESULTADO  
    --PRINT @DOC
	IF  LTRIM(RTRIM(@DOC)) <> ''
	BEGIN
		INSERT INTO #OFI SELECT @DOC    
	END
END

--select * from #ofi




		DECLARE @DATO CHAR(10)
		print 'entro al ELSE'
		WHILE (EXISTS(SELECT top 1 OFI FROM #OFI)) --  WHILE 
			BEGIN
				SET @DATO = (SELECT TOP 1 OFI FROM #ofi ORDER BY 1 )
				INSERT INTO #TMP1 (CLI,NOM,TEMPO,CODTEM, FABRIC,PO,ESTCLI ,OFI, ajuste, COLOR,  LLEGAPO, [ID], CONSUMO, CANPZA, [CODIGO],
				[XS], [S], [M] , [L], [XL], [XXL], [3XL],[4XL],[5XL], [6XL],[7XL],[8XL], TOTAL, 
				[_XS], [_S],[_M], [_L], [_XL], [_XXL], [_3XL],[_4XL], [_5XL], [_6XL], [_7XL], [_8XL],[_TOTAL]) 
				SELECT CLI,NOM,TEMPO,CODTEM, FABRIC,PO,ESTCLI ,OFI,ajuste2,COLOR,  LLEGAPO, [ID], PESO, CANPZA, [CODIGO],
				[XS], [S], [M] , [L], [XL], [XXL], [3XL],[4XL],[5XL], [6XL],[7XL],[8XL], TOTAL, 
				[_XS], [_S],[_M], [_L], [_XL], [_XXL], [_3XL],[_4XL], [_5XL], [_6XL], [_7XL], [_8XL],
				([_XS]+ [_S]+[_M]+[_L]+[_XL]+ [_XXL]+[_3XL]+[_4XL]+[_5XL]+[_6XL]+ [_7XL]+ [_8XL]) 
				FROM VIEW_PEDIDO_TELA_DETA
				where  estado = 'A'
				and ((ltrim(rtrim(OFI))  = LTRIM(RTRIM(@DATO))  ))
				ORDER BY REPLACE(PO, ' ' , ''), REPLACE(COLOR, ' ', ''), ID
				DELETE #ofi WHERE LTRIM(RTRIM(ofi)) = LTRIM(RTRIM(@DATO))
			END -- DEL wHILE
	END -- DEL ELSE
-- CREO LA SEGUNDA TABLA EN BLANCO PARA CAPTURAR LOS DATOS ACUMULADOS
SELECT * INTO #TMP2 FROM #TMP1  WHERE 2=1
--SELECT	 * FROM #TMP1
-- DECLARO LAS VARIABLES TEMPORALES
DECLARE @PO CHAR(20), @color VARCHAR(30), @TELA CHAR(10), @ID INT, @maxi int, @CNT INT, @CONS NUMERIC(18,4), @CNPZA NUMERIC(10)

-- BARRE LA PRIMERA TABLA TEMPORAL PARA IR ACUMULANDO EN LA DEFINITIVA
WHILE (EXISTS(SELECT PO FROM #TMP1)) -- PRIME WHILE 
	BEGIN
		SET @ID = 0
		SET @PO    = (SELECT TOP 1 REPLACE(PO, ' ','') FROM  #TMP1  ORDER BY PO)
		SET @MAXI  = (SELECT MAX(ID)	   FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO) -- PARA SABER CUANTAS TELAS TIENE LA EL ESTILO
		SET @TELA  = (SELECT TOP 1 CODIGO  FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND ID = @ID) -- HAY QUE TOMAR LA LINEA DE DETALLE !!!
		SET @CONS  = (SELECT TOP 1 CONSUMO FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND [ID]=@ID)
		SET @CNPZA = (SELECT TOP 1 CANPZA  FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND [ID]=@ID) -- CANTIDAD DE PIEZAS PARA LOS RECTILINEOS
		INSERT INTO #TMP2 (CLI,NOM,TEMPO, CODTEM, FABRIC,PO,ESTCLI ,OFI,ajuste,COLOR,  LLEGAPO, [ID], CONSUMO, CANPZA, [CODIGO],
				[XS], [S], [M] , [L], [XL], [XXL], [3XL],[4XL],[5XL], [6XL],[7XL],[8XL], TOTAL, 
				[_XS], [_S],[_M], [_L], [_XL], [_XXL], [_3XL],[_4XL], [_5XL], [_6XL], [_7XL], [_8XL],[_TOTAL],
				ACOD, ACON, APZA, AT1, AT2, AT3, AT4, AT5, AT6, AT7, AT8, AT9, AT10, AT11, AT12 ) 
				SELECT CLI,NOM,TEMPO, CODTEM, FABRIC,PO,ESTCLI ,OFI,ajuste,COLOR,  LLEGAPO, [ID], CONSUMO, CANPZA, [CODIGO],
				[XS], [S], [M] , [L], [XL], [XXL], [3XL],[4XL],[5XL], [6XL],[7XL],[8XL], TOTAL, 
				[_XS], [_S],[_M], [_L], [_XL], [_XXL], [_3XL],[_4XL], [_5XL], [_6XL], [_7XL], [_8XL],
				([_XS]+ [_S]+[_M]+[_L]+[_XL]+ [_XXL]+[_3XL]+[_4XL]+[_5XL]+[_6XL]+ [_7XL]+ [_8XL]), CODIGO, @CONS, @CNPZA,
				CASE WHEN LEFT(CODIGO,1) = '9'  AND #TMP1.[_XS] > 0  THEN ((CANPZA * [_XS] ) + 1) ELSE CEILING(CONSUMO * [_XS] ) END,
				CASE WHEN LEFT(CODIGO,1) = '9'  AND #TMP1.[_S]   > 0 THEN ((CANPZA * [_S]  ) + 1) ELSE CEILING(CONSUMO * [_S]  ) END,
				CASE WHEN LEFT(CODIGO,1) = '9'  AND #TMP1.[_M]   > 0 THEN ((CANPZA * [_M]  ) + 1) ELSE CEILING(CONSUMO * [_M]  ) END,
				CASE WHEN LEFT(CODIGO,1) = '9'  AND #TMP1.[_L]   > 0 THEN ((CANPZA * [_L]  ) + 1) ELSE CEILING(CONSUMO * [_L]  ) END,
				CASE WHEN LEFT(CODIGO,1) = '9'  AND #TMP1.[_XL]  > 0 THEN ((CANPZA * [_XL] ) + 1) ELSE CEILING(CONSUMO * [_XL] ) END,
				CASE WHEN LEFT(CODIGO,1) = '9'  AND #TMP1.[_XXL] > 0 THEN ((CANPZA * [_XXL]) + 1) ELSE CEILING(CONSUMO * [_XXL]) END,
				CASE WHEN LEFT(CODIGO,1) = '9'  AND #TMP1.[_3XL] > 0 THEN ((CANPZA * [_3XL]) + 1) ELSE CEILING(CONSUMO * [_3XL]) END,
				CASE WHEN LEFT(CODIGO,1) = '9'  AND #TMP1.[_4XL] > 0 THEN ((CANPZA * [_4XL]) + 1) ELSE CEILING(CONSUMO * [_4XL]) END,
				CASE WHEN LEFT(CODIGO,1) = '9'  AND #TMP1.[_5XL] > 0 THEN ((CANPZA * [_5XL]) + 1) ELSE CEILING(CONSUMO * [_5XL]) END,
				CASE WHEN LEFT(CODIGO,1) = '9'  AND #TMP1.[_6XL] > 0 THEN ((CANPZA * [_6XL]) + 1) ELSE CEILING(CONSUMO * [_6XL]) END,
				CASE WHEN LEFT(CODIGO,1) = '9'  AND #TMP1.[_7XL] > 0 THEN ((CANPZA * [_7XL]) + 1) ELSE CEILING(CONSUMO * [_7XL]) END,
				CASE WHEN LEFT(CODIGO,1) = '9'  AND #TMP1.[_8XL] > 0 THEN ((CANPZA * [_8XL]) + 1) ELSE CEILING(CONSUMO * [_8XL]) END
				FROM #TMP1 WHERE REPLACE(PO,' ' ,'')= @PO AND ID=@ID
				-- ACTUALIZA EL TOTAL DE LA TELA PRINCIPAL
				UPDATE #TMP2 SET ATOT = (AT1+AT2+AT3+AT4+AT5+AT6+AT7+AT8+AT9+AT10+AT11+AT12),
				ATOC=  CASE WHEN LEFT(ACOD,1)='9' THEN ((AT1+AT2+AT3+AT4+AT5+AT6+AT7+AT8+AT9+AT10+AT11+AT12)*CEILING(@CONS)*@CNPZA) ELSE ACON END
				WHERE REPLACE(PO,' ' ,'')= @PO AND ID=@ID	
				DELETE #TMP1 WHERE REPLACE(PO,' ' ,'')= @PO AND ID=@ID	
				
			-- hay que barrer TODAS las telas para ir actualizando los bloques	 ANTES de cambiar de PO					
				SET @ID= @ID +1
				SET @TELA  = (SELECT TOP 1 CODIGO  FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND ID = @ID) -- HAY QUE TOMAR LA LINEA DE DETALLE !!!
				SET @CONS  = (SELECT TOP 1 CONSUMO FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND [ID]=@ID)
				SET @CNPZA = (SELECT TOP 1 CANPZA  FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND [ID]=@ID) -- CANTIDAD DE PIEZAS PARA LOS RECTILINEOS
				if @id <= @maxi
					begin
						UPDATE #TMP2 
						SET ID=@ID, BCOD = @TELA, #tmp2.CONSUMO = @CONS, #tmp2.CANPZA = @CNPZA, #TMP2.BCON=@CONS,  #TMP2.BPZA=@CNPZA,
						BT1	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XS] > 0   THEN ((#tmp1.CANPZA * #tmp1.[_XS] ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XS] )  END,
						BT2	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_S]   > 0  THEN ((#tmp1.CANPZA * #tmp1.[_S]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_S]  )  END,
						BT3	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_M]   > 0  THEN ((#tmp1.CANPZA * #tmp1.[_M]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_M]  )  END,
						BT4	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_L]   > 0  THEN ((#tmp1.CANPZA * #tmp1.[_L]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_L]  )  END,
						BT5	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XL]  > 0  THEN ((#tmp1.CANPZA * #tmp1.[_XL] ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XL] )  END,
						BT6	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XXL] > 0  THEN ((#tmp1.CANPZA * #tmp1.[_XXL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XXL])  END,
						BT7	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_3XL] > 0  THEN ((#tmp1.CANPZA * #tmp1.[_3XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_3XL])  END,
						BT8	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_4XL] > 0  THEN ((#tmp1.CANPZA * #tmp1.[_4XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_4XL])  END,
						BT9	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_5XL] > 0  THEN ((#tmp1.CANPZA * #tmp1.[_5XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_5XL])  END,
						BT10 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_6XL] > 0  THEN ((#tmp1.CANPZA * #tmp1.[_6XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_6XL])  END,
						BT11 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_7XL] > 0  THEN ((#tmp1.CANPZA * #tmp1.[_7XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_7XL])  END,
						BT12 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_8XL] > 0  THEN ((#tmp1.CANPZA * #tmp1.[_8XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_8XL])  END
						FROM #tmp1
						WHERE REPLACE(#tmp1.PO,' ' ,'')= @PO AND #tmp1.ID=@ID

						UPDATE #TMP2 SET BTOT = (BT1+BT2+BT3+BT4+BT5+BT6+BT7+BT8+BT9+BT10+BT11+BT12),
						BTOC =  CASE WHEN LEFT(BCOD,1)='9' THEN
						((BT1+BT2+BT3+BT4+BT5+BT6+BT7+BT8+BT9+BT10+BT11+BT12)*CEILING(@CONS)*@CNPZA)
						ELSE @CONS END
						WHERE REPLACE(PO,' ' ,'')= @PO AND ID=@ID
						
						DELETE #TMP1 WHERE REPLACE(PO,' ' ,'')= @PO AND ID=@ID		
					end
				SET @ID= @ID +1
				SET @TELA  = (SELECT TOP 1 CODIGO  FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND ID = @ID) -- HAY QUE TOMAR LA LINEA DE DETALLE !!!
				SET @CONS  = (SELECT TOP 1 CONSUMO FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND [ID]=@ID)
				SET @CNPZA = (SELECT TOP 1 CANPZA  FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND [ID]=@ID) -- CANTIDAD DE PIEZAS PARA LOS RECTILINEOS
				if @id <= @maxi
					begin
						UPDATE #TMP2 
						SET ID=@ID, CCOD = @TELA, #tmp2.CONSUMO = @CONS, #tmp2.CANPZA = @CNPZA, #TMP2.CCON=@CONS, #TMP2.CPZA=@CNPZA,
						CT1	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XS] > 0  THEN ((#tmp1.CANPZA * #tmp1.[_XS] ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XS] )  END,
						CT2	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_S]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_S]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_S]  )  END,
						CT3	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_M]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_M]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_M]  )  END,
						CT4	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_L]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_L]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_L]  )  END,
						CT5	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XL]  > 0 THEN ((#tmp1.CANPZA * #tmp1.[_XL] ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XL] )  END,
						CT6	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XXL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_XXL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XXL])  END,
						CT7	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_3XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_3XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_3XL])  END,
						CT8	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_4XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_4XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_4XL])  END,
						CT9	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_5XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_5XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_5XL])  END,
						CT10 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_6XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_6XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_6XL])  END,
						CT11 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_7XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_7XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_7XL])  END,
						CT12 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_8XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_8XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_8XL])  END
						FROM #tmp1
						WHERE REPLACE(#tmp1.PO,' ' ,'')= @PO AND #tmp1.ID=@ID

						UPDATE #TMP2 SET CTOT = (CT1+CT2+CT3+CT4+CT5+CT6+CT7+CT8+CT9+CT10+CT11+CT12),
						CTOC= CASE WHEN LEFT(CCOD,1)='9' THEN
						((CT1+CT2+CT3+CT4+CT5+CT6+CT7+CT8+CT9+CT10+CT11+CT12)*CEILING(@CONS)*@CNPZA)
						ELSE @CONS END
						WHERE REPLACE(PO,' ' ,'')= @PO AND ID=@ID

						

						DELETE #TMP1 WHERE REPLACE(PO,' ' ,'')= @PO AND ID=@ID		
					end
					SET @ID= @ID +1
				SET @TELA  = (SELECT TOP 1 CODIGO  FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND ID = @ID) -- HAY QUE TOMAR LA LINEA DE DETALLE !!!
				SET @CONS  = (SELECT TOP 1 CONSUMO FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND [ID]=@ID)
				SET @CNPZA = (SELECT TOP 1 CANPZA  FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND [ID]=@ID) -- CANTIDAD DE PIEZAS PARA LOS RECTILINEOS
				if @id <= @maxi
					begin
						UPDATE #TMP2 
						SET ID=@ID, DCOD = @TELA, #tmp2.CONSUMO = @CONS, #tmp2.CANPZA = @CNPZA, #TMP2.DCON=@CONS, #TMP2.DPZA=@CNPZA,
						DT1	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XS] > 0  THEN ((#tmp1.CANPZA * #tmp1.[_XS] ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XS] )  END,
						DT2	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_S]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_S]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_S]  )  END,
						DT3	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_M]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_M]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_M]  )  END,
						DT4	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_L]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_L]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_L]  )  END,
						DT5	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XL]  > 0 THEN ((#tmp1.CANPZA * #tmp1.[_XL] ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XL] )  END,
						DT6	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XXL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_XXL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XXL])  END,
						DT7	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_3XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_3XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_3XL])  END,
						DT8	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_4XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_4XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_4XL])  END,
						DT9	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_5XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_5XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_5XL])  END,
						DT10 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_6XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_6XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_6XL])  END,
						DT11 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_7XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_7XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_7XL])  END,
						DT12 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_8XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_8XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_8XL])  END
						FROM #tmp1
						WHERE REPLACE(#tmp1.PO,' ' ,'')= @PO AND #tmp1.ID=@ID

						UPDATE #TMP2 SET DTOT = (DT1+DT2+DT3+DT4+DT5+DT6+DT7+DT8+DT9+DT10+DT11+DT12),
						DTOC=  CASE WHEN LEFT(DCOD,1)='9' THEN
						((DT1+DT2+DT3+DT4+DT5+DT6+DT7+DT8+DT9+DT10+DT11+DT12)*CEILING(@CONS)*@CNPZA)
						ELSE @CONS END
						WHERE REPLACE(PO,' ' ,'')= @PO AND ID=@ID

						

						DELETE #TMP1 WHERE REPLACE(PO,' ' ,'')= @PO AND ID=@ID		
					end
					SET @ID= @ID +1
				SET @TELA  = (SELECT TOP 1 CODIGO  FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND ID = @ID) -- HAY QUE TOMAR LA LINEA DE DETALLE !!!
				SET @CONS  = (SELECT TOP 1 CONSUMO FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND [ID]=@ID)
				SET @CNPZA = (SELECT TOP 1 CANPZA  FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND [ID]=@ID) -- CANTIDAD DE PIEZAS PARA LOS RECTILINEOS
				if @id <= @maxi
					begin
						UPDATE #TMP2 
						SET ID=@ID, ECOD = @TELA, #tmp2.CONSUMO = @CONS, #tmp2.CANPZA = @CNPZA,#TMP2.ECON=@CONS, #TMP2.EPZA=@CNPZA,
						ET1	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XS] > 0  THEN ((#tmp1.CANPZA * #tmp1.[_XS] ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XS] )  END,
						ET2	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_S]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_S]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_S]  )  END,
						ET3	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_M]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_M]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_M]  )  END,
						ET4	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_L]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_L]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_L]  )  END,
						ET5	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XL]  > 0 THEN ((#tmp1.CANPZA * #tmp1.[_XL] ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XL] )  END,
						ET6	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XXL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_XXL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XXL])  END,
						ET7	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_3XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_3XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_3XL])  END,
						ET8	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_4XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_4XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_4XL])  END,
						ET9	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_5XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_5XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_5XL])  END,
						ET10 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_6XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_6XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_6XL])  END,
						ET11 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_7XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_7XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_7XL])  END,
						ET12 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_8XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_8XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_8XL])  END
						FROM #tmp1
						WHERE REPLACE(#tmp1.PO,' ' ,'')= @PO AND #tmp1.ID=@ID
						UPDATE #TMP2 SET ETOT = (ET1+ET2+ET3+ET4+ET5+ET6+ET7+ET8+ET9+ET10+ET11+ET12),
						ETOC=  CASE WHEN LEFT(ECOD,1)='9' THEN
						((ET1+ET2+ET3+ET4+ET5+ET6+ET7+ET8+ET9+ET10+ET11+ET12)*CEILING(@CONS)*@CNPZA)
						ELSE @CONS END
						WHERE REPLACE(PO,' ' ,'')= @PO AND ID=@ID
						
						DELETE #TMP1 WHERE REPLACE(PO,' ' ,'')= @PO AND ID=@ID		
					end
				SET @ID= @ID +1
				SET @TELA  = (SELECT TOP 1 CODIGO  FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND ID = @ID) -- HAY QUE TOMAR LA LINEA DE DETALLE !!!
				SET @CONS  = (SELECT TOP 1 CONSUMO FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND [ID]=@ID)
				SET @CNPZA = (SELECT TOP 1 CANPZA  FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND [ID]=@ID) -- CANTIDAD DE PIEZAS PARA LOS RECTILINEOS
				if @id <= @maxi
					begin
						UPDATE #TMP2 
						SET ID=@ID, FCOD = @TELA, #tmp2.CONSUMO = @CONS, #tmp2.CANPZA = @CNPZA,#TMP2.FCON=@CONS, #TMP2.FPZA=@CNPZA,
						FT1	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XS] > 0  THEN ((#tmp1.CANPZA * #tmp1.[_XS] ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XS] )  END,
						FT2	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_S]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_S]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_S]  )  END,
						FT3	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_M]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_M]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_M]  )  END,
						FT4	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_L]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_L]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_L]  )  END,
						FT5	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XL]  > 0 THEN ((#tmp1.CANPZA * #tmp1.[_XL] ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XL] )  END,
						FT6	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XXL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_XXL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XXL])  END,
						FT7	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_3XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_3XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_3XL])  END,
						FT8	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_4XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_4XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_4XL])  END,
						FT9	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_5XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_5XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_5XL])  END,
						FT10 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_6XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_6XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_6XL])  END,
						FT11 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_7XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_7XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_7XL])  END,
						FT12 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_8XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_8XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_8XL])  END
						FROM #tmp1
						WHERE REPLACE(#tmp1.PO,' ' ,'')= @PO AND #tmp1.ID=@ID

						UPDATE #TMP2 SET FTOT = (FT1+FT2+FT3+FT4+FT5+FT6+FT7+FT8+FT9+FT10+FT11+FT12),
						FTOC=  CASE WHEN LEFT(FCOD,1)='9' THEN
						((FT1+FT2+FT3+FT4+FT5+FT6+FT7+FT8+FT9+FT10+FT11+FT12)*CEILING(@CONS)*@CNPZA)
						ELSE @CONS END
						WHERE REPLACE(PO,' ' ,'')= @PO AND ID=@ID
						DELETE #TMP1 WHERE REPLACE(PO,' ' ,'')= @PO AND ID=@ID		
					end
				SET @ID= @ID +1
				SET @TELA  = (SELECT TOP 1 CODIGO  FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND ID = @ID) -- HAY QUE TOMAR LA LINEA DE DETALLE !!!
				SET @CONS  = (SELECT TOP 1 CONSUMO FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND [ID]=@ID)
				SET @CNPZA = (SELECT TOP 1 CANPZA  FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND [ID]=@ID) -- CANTIDAD DE PIEZAS PARA LOS RECTILINEOS
				if @id <= @maxi
					begin
						UPDATE #TMP2 
						SET ID=@ID, GCOD = @TELA, #tmp2.CONSUMO = @CONS, #tmp2.CANPZA = @CNPZA,#TMP2.GCON=@CONS, #TMP2.GPZA=@CNPZA,
						GT1	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XS] > 0  THEN ((#tmp1.CANPZA * #tmp1.[_XS] ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XS] )  END,
						GT2	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_S]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_S]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_S]  )  END,
						GT3	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_M]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_M]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_M]  )  END,
						GT4	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_L]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_L]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_L]  )  END,
						GT5	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XL]  > 0 THEN ((#tmp1.CANPZA * #tmp1.[_XL] ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XL] )  END,
						GT6	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XXL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_XXL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XXL])  END,
						GT7	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_3XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_3XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_3XL])  END,
						GT8	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_4XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_4XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_4XL])  END,
						GT9	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_5XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_5XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_5XL])  END,
						GT10 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_6XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_6XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_6XL])  END,
						GT11 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_7XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_7XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_7XL])  END,
						GT12 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_8XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_8XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_8XL])  END
						FROM #tmp1
						WHERE REPLACE(#tmp1.PO,' ' ,'')= @PO AND #tmp1.ID=@ID

						UPDATE #TMP2 SET GTOT = (GT1+GT2+GT3+GT4+GT5+GT6+GT7+GT8+GT9+GT10+GT11+GT12),
						GTOC=  CASE WHEN LEFT(GCOD,1)='9' THEN
						((GT1+GT2+GT3+GT4+GT5+GT6+GT7+GT8+GT9+GT10+GT11+GT12)*@CNPZA)*CEILING(@CONS)
						ELSE @CONS END
						WHERE REPLACE(PO,' ' ,'')= @PO AND ID=@ID
						DELETE #TMP1 WHERE REPLACE(PO,' ' ,'')= @PO AND ID=@ID		
					end
				SET @ID= @ID +1
				SET @TELA  = (SELECT TOP 1 CODIGO  FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND ID = @ID) -- HAY QUE TOMAR LA LINEA DE DETALLE !!!
				SET @CONS  = (SELECT TOP 1 CONSUMO FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND [ID]=@ID)
				SET @CNPZA = (SELECT TOP 1 CANPZA  FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND [ID]=@ID) -- CANTIDAD DE PIEZAS PARA LOS RECTILINEOS
				if @id <= @maxi
					begin
						UPDATE #TMP2 
						SET ID=@ID, HCOD = @TELA, #tmp2.CONSUMO = @CONS, #tmp2.CANPZA = @CNPZA,#TMP2.HCON=@CONS,  #TMP2.HPZA=@CNPZA,
						HT1	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XS] > 0  THEN ((#tmp1.CANPZA * #tmp1.[_XS] ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XS] )  END,
						HT2	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_S]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_S]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_S]  )  END,
						HT3	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_M]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_M]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_M]  )  END,
						HT4	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_L]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_L]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_L]  )  END,
						HT5	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XL]  > 0 THEN ((#tmp1.CANPZA * #tmp1.[_XL] ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XL] )  END,
						HT6	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XXL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_XXL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XXL])  END,
						HT7	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_3XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_3XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_3XL])  END,
						HT8	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_4XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_4XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_4XL])  END,
						HT9	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_5XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_5XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_5XL])  END,
						HT10 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_6XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_6XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_6XL])  END,
						HT11 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_7XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_7XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_7XL])  END,
						HT12 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_8XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_8XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_8XL])  END
						FROM #tmp1
						WHERE REPLACE(#tmp1.PO,' ' ,'')= @PO AND #tmp1.ID=@ID

						UPDATE #TMP2 SET HTOT = (HT1+HT2+HT3+HT4+HT5+HT6+HT7+HT8+HT9+HT10+HT11+HT12),
						HTOC=  CASE WHEN LEFT(HCOD,1)='9' THEN
						((HT1+HT2+HT3+HT4+HT5+HT6+HT7+HT8+HT9+HT10+HT11+HT12)*@CNPZA)*CEILING(@CONS)
						ELSE @CONS END
						WHERE REPLACE(PO,' ' ,'')= @PO AND ID=@ID
						DELETE #TMP1 WHERE REPLACE(PO,' ' ,'')= @PO AND ID=@ID		
					end
				SET @ID= @ID +1
				SET @TELA  = (SELECT TOP 1 CODIGO  FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND ID = @ID) -- HAY QUE TOMAR LA LINEA DE DETALLE !!!
				SET @CONS  = (SELECT TOP 1 CONSUMO FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND [ID]=@ID)
				SET @CNPZA = (SELECT TOP 1 CANPZA  FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND [ID]=@ID) -- CANTIDAD DE PIEZAS PARA LOS RECTILINEOS
				if @id <= @maxi
					begin
						UPDATE #TMP2 
						SET ID=@ID, ICOD = @TELA, #tmp2.CONSUMO = @CONS, #tmp2.CANPZA = @CNPZA,#TMP2.ICON=@CONS,  #TMP2.IPZA=@CNPZA,
						IT1	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XS] > 0  THEN ((#tmp1.CANPZA * #tmp1.[_XS] ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XS] )  END,
						IT2	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_S]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_S]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_S]  )  END,
						IT3	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_M]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_M]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_M]  )  END,
						IT4	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_L]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_L]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_L]  )  END,
						IT5	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XL]  > 0 THEN ((#tmp1.CANPZA * #tmp1.[_XL] ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XL] )  END,
						IT6	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XXL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_XXL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XXL])  END,
						IT7	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_3XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_3XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_3XL])  END,
						IT8	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_4XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_4XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_4XL])  END,
						IT9	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_5XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_5XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_5XL])  END,
						IT10 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_6XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_6XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_6XL])  END,
						IT11 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_7XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_7XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_7XL])  END,
						IT12 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_8XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_8XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_8XL])  END
						FROM #tmp1
						WHERE REPLACE(#tmp1.PO,' ' ,'')= @PO AND #tmp1.ID=@ID

						UPDATE #TMP2 SET ITOT = (IT1+IT2+IT3+IT4+IT5+IT6+IT7+IT8+IT9+IT10+IT11+IT12),
						ITOC=  CASE WHEN LEFT(ICOD,1)='9' THEN
						( (IT1+IT2+IT3+IT4+IT5+IT6+IT7+IT8+IT9+IT10+IT11+IT12)*@CNPZA)*CEILING(@CONS)
						ELSE @CONS END
						WHERE REPLACE(PO,' ' ,'')= @PO AND ID=@ID
						DELETE #TMP1 WHERE REPLACE(PO,' ' ,'')= @PO AND ID=@ID		
					end
				SET @ID= @ID +1
				SET @TELA  = (SELECT TOP 1 CODIGO  FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND ID = @ID) -- HAY QUE TOMAR LA LINEA DE DETALLE !!!
				SET @CONS  = (SELECT TOP 1 CONSUMO FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND [ID]=@ID)
				SET @CNPZA = (SELECT TOP 1 CANPZA  FROM #TMP1 WHERE REPLACE(PO, ' ','') = @PO AND [ID]=@ID) -- CANTIDAD DE PIEZAS PARA LOS RECTILINEOS
				if @id <= @maxi
					begin
						UPDATE #TMP2 
						SET ID=@ID, JCOD = @TELA, #tmp2.CONSUMO = @CONS, #tmp2.CANPZA = @CNPZA,#TMP2.JCON=@CONS,  #TMP2.JPZA=@CNPZA,
						JT1	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XS] > 0  THEN ((#tmp1.CANPZA * #tmp1.[_XS] ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XS] )  END,
						JT2	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_S]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_S]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_S]  )  END,
						JT3	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_M]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_M]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_M]  )  END,
						JT4	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_L]   > 0 THEN ((#tmp1.CANPZA * #tmp1.[_L]  ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_L]  )  END,
						JT5	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XL]  > 0 THEN ((#tmp1.CANPZA * #tmp1.[_XL] ) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XL] )  END,
						JT6	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_XXL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_XXL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_XXL])  END,
						JT7	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_3XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_3XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_3XL])  END,
						JT8	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_4XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_4XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_4XL])  END,
						JT9	 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_5XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_5XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_5XL])  END,
						JT10 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_6XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_6XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_6XL])  END,
						JT11 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_7XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_7XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_7XL])  END,
						JT12 = CASE WHEN LEFT(#tmp1.CODIGO,1) = '9' AND #TMP1.[_8XL] > 0 THEN ((#tmp1.CANPZA * #tmp1.[_8XL]) + 1) ELSE CEILING(#tmp1.CONSUMO * #tmp2.[_8XL])  END
						FROM #tmp1
						WHERE REPLACE(#tmp1.PO,' ' ,'')= @PO AND #tmp1.ID=@ID

						UPDATE #TMP2 SET JTOT = (JT1+JT2+JT3+JT4+JT5+JT6+JT7+JT8+JT9+JT10+JT11+JT12),
						JTOC=  CASE WHEN LEFT(JCOD,1)='9' THEN
						( (JT1+JT2+JT3+JT4+JT5+JT6+JT7+JT8+JT9+JT10+JT11+JT12)*@CNPZA)*CEILING(@CONS)
						ELSE @CONS END
						WHERE REPLACE(PO,' ' ,'')= @PO AND ID=@ID
						DELETE #TMP1 WHERE REPLACE(PO,' ' ,'')= @PO AND ID=@ID		
					end


		DELETE #TMP1 WHERE REPLACE(PO, ' ','') = @PO 
	END -- PRIMER WHILE (EXISTS(SELECT PO, REPLACE(COLOR, ' ' ,'') FROM #TMP1))

--SELECT * FROM #TMP1
SELECT * FROM #TMP2 ORDER BY  REPLACE(PO, ' ' , ''), REPLACE(COLOR, ' ', ''), ID

/*DROP TABLE #TMP1
DROP TABLE #TMP2
*/
                                         