USE [MODELADOR]
GO
/****** Object:  View [dbo].[VIEW_POS]    Script Date: 12/09/2012 12:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[VIEW_POS]
AS
SELECT PP.PO, PP.COTIZACION AS COTI, PP.CLIENTE AS CLI, CL.NOMBRE AS NOM, PP.FECEMB AS EMB, PP.TIPOEMB AS TIP, PP.CANTIDAD AS CAN, ES.FOTO AS FOT, 
               ES.CONTENIDO AS CON, PP.ESTADO AS EDO, PR.ESTILO AS CODEST, dbo.DESTINOS.NOMBRE, PP.DESTINO, TE.DESCRIPCION, PP.OFI
FROM  dbo.POS AS PP INNER JOIN
               dbo.COTIZACION AS CC ON PP.COTIZACION = CC.COTIZACION INNER JOIN
               dbo.PROTOS AS PR ON CC.PROTO = PR.PROTO AND CC.VERSION = PR.VERSION INNER JOIN
               dbo.CLIENTE AS CL ON PP.CLIENTE = CL.CODIGO INNER JOIN
               dbo.TIPOEMBARQUE AS TE ON PP.TIPOEMB = TE.CODIGO INNER JOIN
               dbo.ESTILOS AS ES ON PR.CLIENTE = ES.CLIENTE AND PR.ESTILO = ES.CODEST INNER JOIN
               dbo.DESTINOS ON PP.DESTINO = dbo.DESTINOS.CODIGO
